@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-family: "VT323", monospace; */
  font-weight: 400;
  font-style: normal;
  background-color: #1F1F1F;
  color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1F1F1F; 

}
 
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
}



